<div class="container my-3">
  <div class="row gx-2">
    
    {{> admin_controller}}
    
    <div class="col-sm-10">
      
      {{#if is_empty}}
        <h5>No pending requests yet!</h5>
      {{else}}
      <table class="table shadow ">
        <thead>
          <tr class="fs-5 bg-secondary text-white">
            <th scope="col" class="px-5">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Management</th>
          </tr>
        </thead>
        <tbody>
          {{#each requests as |request|}}
          <tr>
            <th scope="col" class="px-5">{{u_ID}}</th>
            <th scope="col">{{u_Username}}</th>
            <th scope="col">{{u_Email}}</th>
            <th scope="col">
              <button type="button" data-user-email="{{u_Email}}" data-user-id="{{u_ID}}" class="btn p-0 mx-1 btn-accept">
                <i class="bi bi-check-circle-fill"></i>
              </button>
              <button type="button" data-user-email="{{u_Email}}" data-user-id="{{u_ID}}" class="btn p-0 mx-1 btn-reject">
                <i class="bi bi-x-circle-fill"></i>
              </button>
            </th>
          </tr>
          {{/each}}
        </tbody>
      </table>  
      {{/if}}
    </div>
    
  </div>

</div>

<script src="/public/scripts/publisher_requests.js"></script>